body
{
  background: Green;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
}
.cardStyle
{
  background: #66ffcc;
  height: 216px;
  width: 344px;
  border-radius: 10px 10px 10px 10px;
  color: white;
}
.creditCardText
{
  padding-top: 20px;
  padding-left: 30px;
  font-weight: bold;
}
.cardNumberText
{
  padding-top: 10px;
  padding-left: 30px;
  font-size: 13px;
  opacity: 0.8;
}
.cardNumberNumbers
{
  padding-top:10px;
  text-align: center;
}
.numberStyle
{
  width: 50px;
  padding: 7px;
  text-align: center;
  color: gray;
}
.monthText
{
  width: 70px;
  padding-top: 15px;
  padding-left: 70px;
  font-size: 13px;
  opacity: 0.8;
}
.yearText
{
  padding-top: 15px;
  padding-left: 13px;
  font-size: 13px;
  opacity: 0.8;
}
.validThruText
{
  width: 65px;
  opacity: 0.8;
}
.string5
{
  display: inline-block;
}
.string5child
{
  display: inline-block;
  vertical-align: middle;
}
.validText
{
  padding-top: 10px;
  padding-left: 30px;
  font-size: 11px;
}
.thruText
{
  padding-left: 30px;
  font-size: 11px;
  width: 40px;
}
.dateText
{
  width: 40px;
  margin-top: 5px;
}
.slesh
{
  font-size: 20px;
  margin-top: 8px;
  margin-left: 7px;
}
.visaLogo
{
  width: 70px;
  margin-left: 80px;
  margin-top: 10px;
  vertical-align: top;
}
