.block
{
  margin-top: 10px;
}
li
{
  display: inline-block;
  background: #673AB7;
  width: 100px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-left: 15px;
  padding-top: 10px;
  margin-top: 15px;
}
ul li:nth-child(3n)
{
  background-color: #E91E63;
}
