.tomato
{
  background: Tomato;
  margin-top: 20px;
}
.orange
{
  background: Orange;
  margin-top: 20px;
}
.dodgerBlue
{
  background: DodgerBlue;
  margin-top: 20px;
}
.mediumSeaGreen
{
  background: MediumSeaGreen;
  margin-top: 20px;
}
.gray
{
  background: Gray;
  margin-top: 20px;
}
.slateBlue
{
  background: SlateBlue;
  margin-top: 20px;
}
.violet
{
  background: Violet;
  margin-top: 20px;
}
